{% extends "base.twig" %}

{% block content %}

	{% if post.meta('home') %}
		{% for bloc in post.meta('home') %}
			{% if bloc.acf_fc_layout == 'carousel' %}
				<div class="row">
					<div class="col-md-12 section-1">
						<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
								<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="{{ Image(bloc.carousel_img).src }}" class="d-block w-100" alt="{{ Image(bloc.carousel_img).alt }}">
									<div class="carousel-caption d-none d-md-block">
									    <h1>{{ bloc.carousel_title }}</h1>
									    <h2>{{ bloc.carousel_subtitle }}</h2>
									    <button type="button" class="btn btn-outline-light">{{ bloc.carousel_btn }}</button>
									</div>
								</div>
								<div class="carousel-item">
									<img src="{{ Image(bloc.carousel_img).src }}" class="d-block w-100" alt="{{ Image(bloc.carousel_img).alt }}">
									<div class="carousel-caption d-none d-md-block">
									    <h1>{{ bloc.carousel_title }}</h1>
									    <h2>{{ bloc.carousel_subtitle }}</h2>
									    <button type="button" class="btn btn-outline-light">{{ bloc.carousel_btn }}</button>
									</div>
								</div>
								<div class="carousel-item">
									<img src="{{ Image(bloc.carousel_img).src }}" class="d-block w-100" alt="{{ Image(bloc.carousel_img).alt }}">
									<div class="carousel-caption d-none d-md-block">
									    <h1>{{ bloc.carousel_title }}</h1>
									    <h2>{{ bloc.carousel_subtitle }}</h2>
									    <button type="button" class="btn btn-outline-light">{{ bloc.carousel_btn }}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% elseif bloc.acf_fc_layout == 'section_2' %}
				<div class="row section-2">
					<div class="col-lg-6 col-md-12 section-2__left">
						<img src="{{ Image(bloc.img).src }}" class="img-fluid" alt="{{ Image(bloc.img).alt }}">
					</div>
					<div class="col-lg-6 col-md-12 section-2__right">
						<h2>{{ bloc.title }}</h2>
						<p>{{ bloc.paragraph_1 }}</p>
						<p>{{ bloc.paragraph_2 }}</p>
						<button type="button" class="btn btn-outline-dark">{{ bloc.btn }}</button>
					</div>
				</div>
			{% elseif bloc.acf_fc_layout == 'section_3' %}
				<div class="row section-3">
					<div class="col-lg-6 col-md-12 section-3__left">
						<h2>{{ bloc.title }}</h2>
						<p>{{ bloc.paragraph_1 }}</p>
					</div>
					<div class="col-lg-6 col-md-12 section-3__right">
						<span class="section-3__right--span"><img src="{{ Image(bloc.icon).src }}"><h2>{{ bloc.item_1 }}</h2><img src="{{ Image(bloc.icon).src }}"></span><br>
						<span class="section-3__right--span"><img src="{{ Image(bloc.icon).src }}"><h2>{{ bloc.item_2 }}</h2><img src="{{ Image(bloc.icon).src }}"></span><br>
						<span class="section-3__right--span"><img src="{{ Image(bloc.icon).src }}"><h2>{{ bloc.item_3 }}</h2><img src="{{ Image(bloc.icon).src }}"></span>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

{% endblock %}