<a href="#"><img alt="{{ Image(options.img_1).alt }}" src="{{ Image(options.img_1).src }}"></a>
<a href="#"><img alt="{{ Image(options.img_2).alt }}" src="{{ Image(options.img_2).src }}"></a>
<a href="#"><img alt="{{ Image(options.img_3).alt }}" src="{{ Image(options.img_3).src }}"></a>